.footer-div {
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-color: black;
  color: white;
}

ul {
  display: flex;
  list-style: none;
  li {
    padding-left: 1em;
    padding-right: 1em;
  }
}

footer {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
}

.footer-copyright {
  padding: 1em;
  span {
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
}

.footer-group:first-child {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-right: 20px;
}
