.profile-card {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 10px;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  width: 360px;
  height: 60px;
  text-align: justify;
}

@-moz-document url-prefix() {
  .profile-card {
    font-family: Arial, Helvetica, sans-serif;
  }
}

.profile-container {
  a {
    &:hover {
      cursor: pointer;
      color: #00f;
    }
  }
  display: grid;
  grid-template-columns: 1fr 5fr;
  .faded {
    color: #666666;
  }
  .pp {
    img {
      border-radius: 50%;
    }
  }
  .pp-about {
    padding-left: 5px;
  }
  .pp-footer {
    justify-content: space-around;
    display: flex;
  }
}
