@media screen and (max-width: 480px) {
  .project-div {
    table,
    tr,
    th,
    td {
      font-size: 1em;
    }
  }
  .hidden {
    display: none;
  }
}

.project-div {
  margin: 1em;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    cursor: pointer;
  }
}

table,
tr,
th,
td {
  padding: 0.5em;
}

.project-list {
  margin: 0.3em;
  width: 100%;
  font-size: 1.1rem;
}

.selected {
  background-color: #c5c5c5;
  th {
    background-color: gray;
  }
}
