@media screen and (max-width: 480px) {
  .project-div {
    table,
    tr,
    th,
    td {
      font-size: 1em;
    }
  }
  .hidden {
    display: none;
  }
}

.project-div {
  margin: 1em;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    cursor: pointer;
  }
}

table,
tr,
th,
td {
  padding: 0.5em;
}

.project-list {
  margin: 0.3em;
  width: 100%;
  font-size: 1.1rem;
}

.selected {
  background-color: #c5c5c5;
  th {
    background-color: gray;
  }
}

.table-search {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 0;
  grid-template-columns: 7fr 1fr;
}

.table-search-input {
  border-radius: 0;
  padding: 5px;
}
// button,
// input {
//   overflow: visible;
// }
// button,
// input,
// optgroup,
// select,
// textarea {
//   font-family: inherit;
//   font-size: 100%;
//   line-height: 1.15;
//   margin: 0;
// }

input {
  // -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.table-search-button {
  display: block;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  line-height: 1.44;
  padding: 8px 40px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0;
  background-color: #c00;
  border-color: #c00;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
